
html {
   
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
.body_login {
    background-image: url('moon2.png');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: scroll;
    background-repeat: no-repeat ;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;  */
    /* width:100vw;
    height:100vw; */
    /* background-position:center; */
    background-size: cover;
    background-color: #000;
}

@media only screen and (max-width: 768px) {
    /* .body_login {
      background-size: contain;
    } */
    /* .user_name_input{
        transform: translateX(-40%);
    }
    .game-button.enter_game{
        transform: translateX(-40%);
    }
    .glow1{
        transform: translateX(-40%);
    }
    .glow2{
        transform: translateX(-40%);
    } */
  }

/* @media only screen and (min-width:1px) and (max-width:700px) {
  .image {
    background-position:left center;
  }
} */


    /* overflow-y: hidden; */
    /* background-repeat: no-repeat; */



.scrollable-content {
    overflow-y: auto;
    overflow-x: auto;
  }

.body_game {
    background-image: url('bg4.jpg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: scroll;
    background-color: rgb(66, 58, 58);
    background-size: cover ;
    background-repeat: repeat;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  */
    /* width:100vw;
    height:100vw; */
    /* -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover; 
    background-position:center center;
    
}

    /* display: flex; */
    /* overflow-y: hidden; */
    /* background-repeat: no-repeat; */
}

.user_name_input {
    /* position: absolute; */
    /* top: 30%; */
    /* left: 20%; */
    /* right: 20%;  */
    /* left: 42%; */
    /* display: flex;
    align-self: center;
    align-items: center;
    justify-content: center; */
    /* transform: translateX(-50%); */
    border-width: 5px;
    background-color: #adadadc4;
    margin-top: 200px;
    /* left:20%; */

}

.user_name_input:focus { 
    /* outline:none; */
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.room_input {
  position: absolute;
  top: 50%;
  /* left: 20%; */
  /* right: 20%;  */
  /* left: 42%; */
  /* display: flex;
  align-self: center;
  align-items: center;
  justify-content: center; */
  /* transform: translateX(-50%); */
  border-width: 5px;
  background-color: #adadadc4;
  /* left:20%; */

}

.enter_button {
    position: absolute;
    top: 60%;
    /* left: 35%;
    right: 35%; */
    /* transform: translateX(35%); */
    border-width: 5px;
    left:20%;
}



.glow1 {
    text-align: center;
    display: block;
    /* position: absolute; */
    /* top: 40%; */
    /* left: 20%;
    right: 55%; */
    /* transform: translateX(-55%); */
    width: 120px;
    height: fit-content;
    margin-top: 50px;
    border-width: 5px;
    border: 1px solid rgb(55, 55, 204);
    border-radius: 25px;
    color: #000000;
    background-color: rgba(130, 152, 226, 0.525);
    /* left:20%; */
  }

.glow_active {
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
        0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
}

.glow1 .text {
font-size: 15px;
font-weight: 700;
display:grid;
justify-content:center;
}

.glow2 {
  width: 120px;
    height: fit-content;
   text-align: center;
    display: block;
    /* position: absolute; */
    /* top: 40%; */
    /* left: 20%;
    right: 55%; */
    /* transform: translateX(-55%); */
    margin-top: 50px;
    border-width: 5px;
    /* border: 1px solid rgb(55, 55, 204); */
    border-radius: 25px;
    color: #000000;
    /* background-color: rgba(130, 152, 226, 0.525); */
    text-align: center;
    display: block;
    /* position: absolute; */
    /* top: 40%; */
    /* left: 55%;
    right: 20%; */
    /* transform: translateX(55%); */
    /* border-width: 5px; */
    /* margin-top: 200px; */
    border: 1px solid rgb(204, 55, 55);
    /* border-radius: 25px; */
    /* color: #000000; */
    background-color: #d39c9c84;
    /* left:55%; */
  }

.glow2:hover {
    border-radius: 25px;
    color: #000000;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #ca0b0b, 0 0 30px #ca670b,
        0 0 40px #ca710b, 0 0 50px rgb(255, 188, 4);
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
}

.glow2:focus {
    border-radius: 25px;
    color: #000000;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #ca0b0b, 0 0 30px #ca670b,
        0 0 40px #ca710b, 0 0 50px rgb(255, 188, 4);
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
}

.glow2 .text {
font-size: 15px;
font-weight: 700;
display:grid;
justify-content:center;
}

.text > a { 
color: #fff;
text-decoration: none;
}
.text > a:hover {
background: transparent !important;
}
@-webkit-keyframes blink {
100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #cac70b,
    0 0 70px #cabd0b, 0 0 80px #e4d766;
}
}

@keyframes blink {
100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #c7ca0b,
    0 0 70px rgb(235, 222, 42), 0 0 80px #f0d78e;
} 
}
  
  
/* .glow1, .glow2, .user_name_input, .room_input { */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto;   */
    /* flex-grow: 1; */
/* } */

body {
    font-family: 'Open Sans', sans-serif;
    background: #F5F5F5;
    width: 100%;
    height: 100vh;
    color:black;
}
.decryptr--left {
    /* overflow-x: auto; */
    /* width: 25%; */
    width: 100px;
}
.decryptr--left > .decryptr--row {
    margin: 0;
}
.decryptr--box {
    /* overflow-x: auto; */
    /* width: 25%; */
    width: 100px;
    /* height: 45px; */
}
.decryptr--box > .decryptr--row {
    margin: 0;
}
.decryptr--right {
    overflow-x: auto;
    width: 50%;
}
.decryptr--row {
    display: flex;
    overflow: hidden;
    width: max-content;
    /* width: 100px;  */
    height:75px;
    /* min-height: 65px;*/
    /* margin-bottom: 24px; */
}
.decryptr--head--row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    /* width: 100%; */
    height: 52px;
    /* width: max-content; */
    /* margin-right: 12px; */
    /* margin-bottom: 3px; */
}
.middlerow {
    width: 150px;
    height: 40px;
    /* margin-right: 12px; */
    /* margin-bottom: 3px; */
    margin-top: 6px;
    align-items: center;
    /* text-align: center; */ 
    /* display: flex;
    flex-direction: row;
    align-items: flex-start */
}
.previous_words_1 {
    
    width: 90px;
    height: 65px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid blue;
    background-color: rgb(145, 178, 216);
    display: flex;
    align-items: center;
    text-align: center;
}

.previous_words_2 {
    
    width: 90px;
    height: 65px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid red;
    background-color: rgb(206, 99, 117);
    display: flex;
    align-items: center;
    text-align: center;
}


.previous_words_1_empty {
    width: 90px;
    height: 65px;
    margin-right: 12px;
    margin-bottom: 6px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-all;
    opacity: 0;
}

.disabled_clue {
    pointer-events: none;
    opacity: 0.4;
}
.draggable_clue_1 {
    width: 90px;
    height: 65px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid blue; 
    background-color: rgb(108, 160, 220) ; 
    word-break: break-all; 
    display: flex;
    align-items: center;
    text-align: center;
}
.draggable_clue_1:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
.draggable_clue_2 {
    
    width: 90px;
    height: 65px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 0.1px solid red;
    background-color: rgb(206, 99, 117);
    display: flex;
    align-items: center;
    text-align: center;
}
.draggable_clue_2:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
.keyword1 {
    width: 100px;
    height: 75px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid blue;
    background-color: rgb(108, 160, 220);
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url('oldscreen.jfif');
    font-size: 15px;
    text-shadow:
        0.07em 0 rgb(25, 38, 221),
        0 0.07em rgb(75, 126, 126),
        -0.07em 0 rgb(95, 172, 184),
        0 -0.07em rgb(35, 16, 201);
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    /* background-size: cover; */
    /* overflow: scroll; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;  */
    /* width:100vw;
    height:100vw; */
    background-position:center;
    background-size: cover
}

.decryptr--item2 {
    width: 100px;
    height: 75px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid red;
    background-color: rgb(206, 99, 117);
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url('oldscreen.jfif');
    font-size: 15px;
    text-shadow:
        0.07em 0 rgb(218, 67, 67),
        0 0.07em rgb(224, 18, 18),
        -0.07em 0 rgb(184, 60, 60),
        0 -0.07em rgb(240, 85, 85);
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    /* background-size: cover; */
    /* overflow: scroll; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;  */
    /* width:100vw;
    height:100vw; */
    background-position:center;
    background-size: cover
}
.decryptr--input {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.input1 {
    width: 90px;
    height: 65px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid blue;
    background-color: rgb(108, 160, 220) ;
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-all;
}
.input2 {
    width: 90px;
    height: 65px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid red;
    background-color: rgb(206, 99, 117);
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-all;
}

.previous_words_1_empty {
    width: 90px;
    height: 65px;
    margin-right: 12px;
    margin-bottom: 6px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-all;
    opacity: 0;
}

.giveClues{
    width: 120px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 6px;
    left:15px;
}

.small_block {
    width: 100px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 6px;
    opacity: 0;
}
.submit_clue {
    width: 120px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 6px;
    position:absolute;
    left: 300px;
    z-index: 99999;
}

.submitAnswer {
    width: 120px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 6px;
    position:absolute;
    left: 300px;
    z-index: 99999;
}

.suggest {
    width: 120px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 6px;
    position:absolute;
    left: 200px;
    z-index: 99999;
}



.box1 {
    width: 100px;
    height: 74px;
    margin-right: 1px;
    margin-bottom: 3px;
    border: solid 3px #ccc;
    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.box1:focus {
    
    border-radius: 25px;
    color: #000000;
    box-shadow: 0 0 2px #ffffff, 0 0 10px #010058, 0 0 20px #aa0bca, 0 0 30px #00d5ff,
    0 0 40px #540bca, 0 0 50px #5452d8;
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
   
}

.box2 {
    width: 100px;
    height: 74px;
    margin-right: 1px;
    margin-bottom: 3px;
    border: solid 3px #ccc;
    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.box2:focus {
    
    border-radius: 25px;
    color: #000000;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #ca0b0b, 0 0 30px #ca670b,
        0 0 40px #ca710b, 0 0 50px rgb(255, 188, 4);
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
   
}

.drag-over {
    border: dashed 3px rgb(112, 124, 123);
}

.hide {
    display: none;
}

.suggest_alert {
	position: absolute;
    /* display: flex; */
    top: 5%;
    /* right:5%; */
    left:20%;
    z-index: 999999;
	background-color: #05595b;
	color: #f5f5f5;
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0 10px -5px #000000;
	max-width: 300px;
}



.menu{
    position:absolute;
    top: 5%;
    left: 50%;
    background-color: #dfdfdf;
    border-radius:4px;
    display: none;
    z-index: 99999999;
    
.menu__item{
    padding:36px;
    text-align:center;
    border-bottom:1px solid #222;
    z-index: 99999999;
    &:hover{
        background-color: #dddfdb;
        z-index: 99999999;
    }
    }
}

.showmenu{
    display:block;
    z-index: 99999999;
}

.countdown-container {
    display:inline-block;
    border: 1px solid rgb(7, 7, 7);
    width: 100px;
    height: 50px;
    border-radius:4px;
    left: 30%;
    text-align: center;
    font-size: 21px;
    background-color: #535151;
}

.startNewRound {
    display:inline-block;
    white-space: nowrap;
    height: 50px;
    width:100px
    
}

/* .table {
    display:inline-block;
} */

.arrow{
    display:inline-block;
    white-space: nowrap;
    padding:16px;
    /* background-color: rgb(190, 190, 190); */
    text-decoration:none;
    border-radius:5px;
    font-size: 18px;
    color:#000000;
    /* left: 90%;
    right:50%; */
    &:hover{
        transition:0.3s;
        background-color: #b6b5b5;
    }
} 



.table-cell {
    text-align: center;
    color: white;
    font-size: 15px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
  }

.table-cell-blue{
    color:#1c2fda;
    font-size: 15px;
    text-shadow:
        0.07em 0 rgb(233, 233, 233),
        0 0.07em rgb(112, 176, 253),
        -0.07em 0 rgb(40, 137, 255),
        0 -0.07em rgb(29, 15, 219);
  }
.table-cell-red {
    color:#cf2424;
    font-size: 15px;
    text-shadow:
        0.07em 0 rgb(250, 250, 250),
        0 0.07em rgb(160, 62, 62),
        -0.07em 0 rgb(65, 22, 22),
        0 -0.07em rgb(219, 15, 15);
}


.menu-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
.menu {
position: fixed;
top: 100%;
left: 0;
/* background-color: rgb(163, 163, 163); */
padding: 10px;
display: none;

animation: slide-colors 5s linear infinite;
margin-top: 20px;
background: linear-gradient(var(--gradient-degree), rgb(36, 17, 54) var(--color1-percent), black var(--color2-percent), rgb(53, 3, 104) var(--color3-percent), black var(--color4-percent), rgb(30, 21, 40) var(--color5-percent));
}

@property --gradient-degree {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --color1-percent {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --color2-percent {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --color3-percent {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --color4-percent {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --color5-percent {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

/* .box {
  width: 400px;
  height: 400px;
  animation: slide-colors 5s linear infinite;
  background: linear-gradient(60deg, rebeccapurple var(--color1-percent), black var(--color2-percent), rebeccapurple var(--color3-percent), black var(--color4-percent), rebeccapurple var(--color5-percent));
} */
/* 
.box2 {
  width: 400px;
  height: 400px;
  animation: slide-colors 5s linear infinite;
  margin-top: 20px;
  background: linear-gradient(var(--gradient-degree), rebeccapurple var(--color1-percent), black var(--color2-percent), rebeccapurple var(--color3-percent), black var(--color4-percent), rebeccapurple var(--color5-percent));
} */

@keyframes slide-colors {
  0% {
    --color1-percent: -200%;
    --color2-percent: -100%;
    --color3-percent: 0%;
    --color4-percent: 100%;
    --color5-percent: 200%;
    --gradient-degree: 0deg;
  }
  100% {
    --color1-percent: 0%;
    --color2-percent: 100%;
    --color3-percent: 200%;
    --color4-percent: 300%;
    --color5-percent: 400%;
    --gradient-degree: 360deg;
  }
}


.game-button {
    position: relative;
    /* top: 0; */
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 12px;
    /* line-height: 1em;
    letter-spacing: .1em; */
    height: 30px;
    width: 100px;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
    border: none;
    /* margin: 15px 15px 30px; */
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255,255,255,.3);
    color: #fff !important;
    border-radius: 8px;
    /* left:0%; */
    /* padding: 8px 15px 10px;
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3); */
  }
  /* .game-button:hover {
    top:2px;
    /* box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0,0,0,.3); */
  /* }  */
  .game-button::before {
    content: '';
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
    }
  .game-button::after {
    content: '';
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
    }
    .game-button:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    /* border: 1px solid #999999; */
      /* background-color: #cccccc; */
      /* color: #353535; */
    /* } */

      
  .game-button.orange {
     background: repeating-linear-gradient( 45deg, #ffc800, #ffc800 5px, #ffc200 5px, #ffc200 10px);
    /* box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #75421f, 0 12px 0 5px #8a542b, 0 15px 0 5px #593116, 0 15px 1px 6px rgba(0,0,0,.3); */
    border-bottom: 3px solid rgba(205, 102, 0, 0.5);
    text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700, -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700, 0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px  #c96100;
    height: 30px;
    width: 100px;
    left:15px;
}
  /* .game-button.orange:hover {
    top:2px;
    /* box-shadow: 0 4px 0 #b76113, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #75421f, 0 10px 0 5px #8a542b, 0 13px 0 5px #593116, 0 13px 1px 6px rgba(0,0,0,.3); */
  /* } */
   
  .game-button.red {
     background: repeating-linear-gradient( 45deg, #ff4f4c, #ff4f4c 5px, #ff4643 5px, #ff4643 10px);
    /* box-shadow: 0 6px 0 #ae2725, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #831614, 0 12px 0 5px #a33634, 0 15px 0 5px #631716, 0 15px 1px 6px rgba(0,0,0,.3); */
    border-bottom: 3px solid rgba(160, 25, 23, 0.5);
    text-shadow: 2px 2px 1px #d72d21, -2px 2px 1px #d72d21, 2px -2px 1px #d72d21, -2px -2px 1px #d72d21, 0px 2px 1px #d72d21, 0px -2px 1px #d72d21, 0px 4px 1px #930704, 2px 4px 1px #930704, -2px 4px 1px  #930704;
  }
  /* .game-button.red:hover {
    top:2px;
    /* box-shadow: 0 4px 0 #ae2725, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #831614, 0 10px 0 5px #a33634, 0 13px 0 5px #631716, 0 13px 1px 6px rgba(0,0,0,.3); */
  /* } */

  .game-button.green {
     background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
      /* box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3); */
      border-bottom: 3px solid rgba(40, 117, 29, 0.5);
      text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
      height: 30px;
      width: 100px;
      text-align: center;
      align-items: right;
      position:absolute;
    left: 230px;
    z-index: 99999;
      /* position: s; */
    }
  /* .game-button.green:hover {
    top:2px;
    /* box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3); */
  /* }  */

  .game-button.orange_update_name {
    background: repeating-linear-gradient( 45deg, #ffc800, #ffc800 5px, #ffc200 5px, #ffc200 10px);
   /* box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #75421f, 0 12px 0 5px #8a542b, 0 15px 0 5px #593116, 0 15px 1px 6px rgba(0,0,0,.3); */
   border-bottom: 3px solid rgba(205, 102, 0, 0.5);
   text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700, -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700, 0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px  #c96100;
   height: 30px;
   width: 150px;
}

  .game-button.blue_new_round {
    height: 50px;
    width: 100px;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
    border: none;
    /* margin: 15px 15px 30px; */
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255,255,255,.3);
    color: #fff !important;
     text-align: center;
     align-items: right;
   }
 /* .game-button.green:hover {
   top:2px;
   /* box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3); */
 /* } */ 
 .game-button.blue_menu {
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
    border: none;
    /* margin: 15px 15px 30px; */
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255,255,255,.3);
    color: #fff !important;
     text-align: center;
     align-items: right;
     height:50px;
     width: 50px;
   }
   /* .game-button.blue_menu:hover {
    top:2px;
    /* box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3); */
  /* }  */
  .game-button.purple {
    background: repeating-linear-gradient( 45deg, #df05c9, #ba3296 5px, #9d528a 5px, #df5fd9 10px);
     /* box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3); */
     border-bottom: 3px solid rgba(96, 27, 87, 0.5);
     text-shadow: 2px 2px 1px #62185a, -2px 2px 1px #3c082f, 2px -2px 1px #2b0639, -2px -2px 1px #570f5d, 0px 2px 1px #680d61, 0px -2px 1px #76487f, 0px 4px 1px #3a042f, 2px 4px 1px #4b0534, -2px 4px 1px #2c012a;
     height: 30px;
     width: 100px;
     left:3px;
     text-align: center;
     align-items: right;
   }
 /* .game-button.purple:hover {
   top:2px;
   /* box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3); */
 /* } */ 
 .game-button.join_room {
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
  border: none;
  /* margin: 15px 15px 30px; */
  background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255,255,255,.3);
  color: #fff !important;
  height: 50px;
     width: 100px;
     /* text-align: center; */
     /* align-items: right; */
     /* position: absolute; */
    /* top: 60%; */
    margin-top: 50px;
    font-size: 15px;
    margin-left: 50px;
    /* left: 45%;
    right: 40%;  */
    /* transform:translate(-105%); */
     }

  .game-button.create_room {
  background: repeating-linear-gradient( 45deg, #ff4f4c, #ff4f4c 5px, #ff4643 5px, #ff4643 10px);
  /* box-shadow: 0 6px 0 #ae2725, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #831614, 0 12px 0 5px #a33634, 0 15px 0 5px #631716, 0 15px 1px 6px rgba(0,0,0,.3); */
  border-bottom: 3px solid rgba(160, 25, 23, 0.5);
  text-shadow: 2px 2px 1px #d72d21, -2px 2px 1px #d72d21, 2px -2px 1px #d72d21, -2px -2px 1px #d72d21, 0px 2px 1px #d72d21, 0px -2px 1px #d72d21, 0px 4px 1px #930704, 2px 4px 1px #930704, -2px 4px 1px  #930704;
    height: 50px;
    width: 100px;
    /* text-align: center; */
    /* align-items: right; */
    /* position: absolute; */
  top: 60%;
  font-size: 15px;
  margin-top: 50px;
  /* left: 45%;
  right: 40%;  */
  /* transform:translate(-5%); */
    }

  .game-button.green_set_timer {
  background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
    /* box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3); */
    border-bottom: 3px solid rgba(40, 117, 29, 0.5);
    text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
    height: 30px;
    width: 100px;
    text-align: center;
    align-items: right;
    margin-left: 5px;
    /* position:absolute; */
  /* left: 230px; */
  /* z-index: 99999; */
    /* position: s; */
  }

  .game-button.team_1 {
    height: 20px;
    width: 50px;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
    border: none;
    /* margin: 15px 15px 30px; */
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    /* border-top: 3px solid rgba(255,255,255,.3); */
    color: #fff !important;
     text-align: center;
     /* align-items: right; */
     display: inline-block;
     margin-left: 5px;
    margin-bottom: 5px;
   }

  .game-button.team_2 {
    height: 20px;
    width: 50px;
    
    background: repeating-linear-gradient( 45deg, #ff4f4c, #ff4f4c 5px, #ff4643 5px, #ff4643 10px);
   /* box-shadow: 0 6px 0 #ae2725, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #831614, 0 12px 0 5px #a33634, 0 15px 0 5px #631716, 0 15px 1px 6px rgba(0,0,0,.3); */
   border-bottom: 3px solid rgba(160, 25, 23, 0.5);
   text-shadow: 2px 2px 1px #d72d21, -2px 2px 1px #d72d21, 2px -2px 1px #d72d21, -2px -2px 1px #d72d21, 0px 2px 1px #d72d21, 0px -2px 1px #d72d21, 0px 4px 1px #930704, 2px 4px 1px #930704, -2px 4px 1px  #930704;
   border: none;
   color: #fff !important;
   text-align: center;
   /* align-items: right; */
   display: inline-block;
   margin-left: 5px;
   margin-bottom: 5px;
  }







 /* .game-button.enter_game:hover {
   top:2px;
   box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3);
 } */
 
 /* .messages {

 } */

 .messages {
    width: 350px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: #f0f1f3c2;
  }
  
  /* .messages-message {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .messages-message-sender {
    font-weight: bold;
  }
  
  .messages-message-content {
    font-size: 14px;
  }
  
  .messages-box-expand-button {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .messages-box-expand-button:hover {
    background-color: #eee;
  } */

  @media screen and (max-width: 600px) {
    .decryptr--head--row {
        display: flex;
        justify-content: space-between;
        /* display: grid; */
        /* grid-template-columns: 20% 50% 30%; */
    }
    .messages {
        display: flex;
        justify-content: space-between;
    }
    /* .whole{
        display: flex;
        justify-content: space-between;
    }  */
    /* .decryptr--head--row div {
        flex-basis: 100%;
    } */
    /* .decryptr--head--row div.startNewRound  {
        flex-basis: 10%;
    } */
    /* .decryptr--head--row div.startNewRound  {
        grid-column: 1;
    }
    .decryptr--head--row div.countdown-container  {
        grid-column: 2;
    }
    .decryptr--head--row div.arrow  {
        grid-column: 3;
    } */
}


/* @media screen and (max-height: 950px) {
    .whole {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        /* display: grid; */
        /* grid-template-columns: 20% 50% 30%; */
    /* } */
/* }  */

.modal_game_result {
    position: absolute;
    top: 10%;
    left: 5%;
    width: auto; height: auto;
    /* width: 100%;
    height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.7); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
    
}

.modal_game_result-content {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    height: 500px;
    position: relative;
    border-radius: 5px;
    font:15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.close-modal_game_result {
    position: relative;
    /* top: 70%; */
    /* position: absolute; */
    /* bottom: 10%;  */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    align-items: center;
    cursor: pointer;

}

@import url("https://fonts.googleapis.com/css?family=Syncopate");

p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	line-height: 2em;
    position: absolute;
    z-index: 9999999;
    top:12%;
    left: 9%;
    text-shadow:
        0.07em 0 rgb(73, 73, 73),
        0 0.07em rgb(44, 44, 44),
        -0.07em 0 rgb(85, 85, 85),
        0 -0.07em rgb(63, 63, 63);
    white-space: pre-wrap;
    
}
i {
	display: inline-block;
	font-style: normal;
	padding: 0 0.25em;
	-webkit-transform: scale(0) translate3d(0, -2000px, 0);
	   -moz-transform: scale(0) translate3d(0, -2000px, 0);
		-ms-transform: scale(0) translate3d(0, -2000px, 0);
		 -o-transform: scale(0) translate3d(0, -2000px, 0);
			transform: scale(0) translate3d(0, -2000px, 0);
	background: rgb(255, 238, 0);
	border-radius: 50%;
}
i.fly-in-out {
	-webkit-animation: fly-in-out 3s  ease-in-out;
	   -moz-animation: fly-in-out 3s  ease-in-out;
		 -o-animation: fly-in-out 3s  ease-in-out;
			animation: fly-in-out 3s  ease-in-out;
}

@-webkit-keyframes fly-in-out {
	0% {
		-webkit-transform: scale(0) translate3d(0, -1000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		color: rgba(255, 255, 255, 0.8);
        /* text-shadow:
        0.07em 0 rgb(253, 255, 134),
        0 0.07em rgb(255, 187, 40),
        -0.07em 0 rgb(255, 235, 57),
        0 -0.07em rgb(255, 238, 0); */
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		-webkit-transform: scale(0) translate3d(0, 1000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@-moz-keyframes fly-in-out {
	0% {
		-moz-transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		color: rgba(255, 255, 255, 0.8);
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		-moz-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		-moz-transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@-o-keyframes fly-in-out {
	0% {
		-o-transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		color: rgba(255, 255, 255, 0.8);
        /* text-shadow:
        0.07em 0 rgb(253, 255, 134),
        0 0.07em rgb(255, 187, 40),
        -0.07em 0 rgb(255, 235, 57),
        0 -0.07em rgb(255, 238, 0); */
		-o-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		-o-transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
        /* text-shadow:
        0.07em 0 rgb(253, 255, 134),
        0 0.07em rgb(255, 187, 40),
        -0.07em 0 rgb(255, 235, 57),
        0 -0.07em rgb(255, 238, 0); */
	}
}
@keyframes fly-in-out {
	0% {
		transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		color: rgba(255, 255, 255, 0.8);
        /* text-shadow:
        0.07em 0 rgb(253, 255, 134),
        0 0.07em rgb(255, 187, 40),
        -0.07em 0 rgb(255, 235, 57),
        0 -0.07em rgb(255, 238, 0); */
		transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}

.e{
    font-size: 15px;
}
:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --left-msg-bg: #ececec;
    --right-msg-bg: #39b2fd;
  }
.messages {
    width: 350px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: #f0f1f3c2;
  }

.msg-text-log {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
  /* background-color: #f0f1f3c2; */
}

.msg-text {
  font-size: 12px;
  /* color: white; */
  /* background-color: #f0f1f3c2; */
}


  .msger {
    /* display: flex; */
    /* flex-flow: column wrap; */
    justify-content: space-between;
    width: 300px;
    height:400px;
    margin: 25px 10px;
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }
   
  .msger-chat {
    /* flex: 1; */
    overflow-y: auto;
    max-width: 400px;
    max-height: 400px;
    height:200px;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 7px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 12px;
    border-radius: 12px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 5px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    max-width: 400px;
    border-top: var(--border);
    /* background-image: url("bg4.jpg") */
    background-color: #fcfcfe00;
  }
  .msger-inputarea * {
    padding: 10px;
    max-width: 400px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }
  
  .msger-chat {
    background-color: #bebeff00;
    /* background-image: url("bg4.jpg") */
  }
  

.res_image {
  max-width: 100%;
  height: auto;
}

.menu_user_name_input {
  display: flex;
  align-items: center;
  border-width: 5px;
  /* background-color: #adadadc4; */
}

.menu_user_name_input:focus { 
  /* outline:none; */
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

.Team_Thua_Title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color:rgb(77, 77, 255);
  text-shadow:
      0.07em 0 rgb(216, 218, 244),
      0 0.07em rgb(150, 255, 255),
      -0.07em 0 rgb(175, 237, 246),
      0 -0.07em rgb(163, 153, 255);
}

.Team_Loser_Title{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color:rgb(255, 40, 40);
  text-shadow:
      0.07em 0 rgb(255, 169, 169),
      0 0.07em rgb(255, 182, 182),
      -0.07em 0 rgb(255, 161, 161),
      0 -0.07em rgb(255, 232, 232);
}

.team_0_name {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color:rgb(255, 255, 255);
  text-shadow:
      0.07em 0 rgb(83, 83, 83),
      0 0.07em rgb(142, 142, 142),
      -0.07em 0 rgb(89, 89, 89),
      0 -0.07em rgb(40, 40, 40);
}

.team_1_name {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color:rgb(255, 255, 255);
  text-shadow:
      0.07em 0 rgb(129, 137, 255),
      0 0.07em rgb(84, 255, 255),
      -0.07em 0 rgb(40, 132, 253),
      0 -0.07em rgb(25, 0, 255);
}

.team_2_name {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color:rgb(255, 255, 255);
  text-shadow:
      0.07em 0 rgb(255, 21, 21),
      0 0.07em rgb(255, 109, 109),
      -0.07em 0 rgb(255, 38, 0),
      0 -0.07em rgb(255, 61, 61)
}

.myCanvas{
  width: 500px;
  height: 500px;
}

.faces {
  display: block;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 999999999;
}
.timer_form_name {
  display: inline-block;
}
.timer_input{
  width: 50px;
  /* position:relative; */ 
  /* display: inline-block; */
  /* margin-left:100px; */
  /* align-self: right; */
  /* left: 60%;
  transform: translateX(100%); */
  /* margin-left:100%; */
  justify-content: flex-end !important;
  align-items: flex-end !important;
}
/* .timer_form{
  /* display: inline-block; */
/* } */

.timer_form_button{
  /* position: absolute; */
  /* display: inline-block; */
  /* position:relative; */
  /* margin-left:100px; */
  /* align-self: right; */
  /* float: right; */
  /* left: 60%;
  transform: translateX(-100%); */
  /* margin-left: auto; */
  /* align-self:flex-end; */
  justify-content: flex-end !important;
  align-items: flex-end !important;
}
.enter_your_name_title{
  margin-top: 200px;
  font-size: 15px;
  color:rgb(255, 255, 255);
  text-shadow:
      0.1em 0 rgb(0, 0, 0),
      0 0.1em rgb(14, 31, 21),
      -0.1em 0 rgb(35, 37, 34),
      0 -0.1em rgb(23, 28, 22);
}

.user_name_input {
  /* position: absolute; */
  /* top: 30%; */
  /* left: 20%; */
  /* right: 20%;  */
  /* left: 42%; */
  /* display: flex;
  align-self: center;
  align-items: center;
  justify-content: center; */
  /* transform: translateX(-50%); */
  width: 240px;
  border-width: 5px;
  background-color: #adadadc4;
  margin-top: 12px;
  /* left:20%; */

}

.user_name_input:focus { 
  /* outline:none; */
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

.enter_room_id_title{
  margin-top: 70px;
  font-size: 15px;
  color:rgb(255, 255, 255);
  text-shadow:
    0.1em 0 rgb(0, 0, 0),
    0 0.1em rgb(14, 31, 21),
    -0.1em 0 rgb(35, 37, 34),
    0 -0.1em rgb(23, 28, 22);
}

.room_id_input1, .room_id_input2, .room_id_input3{
  margin-top: 12px;
  border-width: 5px;
  width: 96px;
  background-color: #adadadc4;
  margin-left: 10px;
}

.room_id_input1:focus, .room_id_input2:focus, .room_id_input3:focus { 
  /* outline:none; */
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}
